{% extends "shop/layout.html" %}

{% block content %}
        <form action="" method="GET">
            <input type="text" name="q" value="{{q}}"/>
            <input type="submit" value="search" />
        </form>
        <ul>
            {%  for item in item_list %}
                <li>
{#                    item.pk도됨#}
{#                    이것보다는 추후 배울 url reverse를 쓰자#}
                    <a href="/shop/{{ item.id }}">
                        {{ item.name }}
                    </a>
                    {{ item.price }}
                    {{ item.desc }}
                </li>
            {% endfor %}
        </ul>
{% endblock %}
